@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}


.list-container:hover::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgba(0, 0, 0, 0.274);
    pointer-events: none;

}

.main {
    background-image: url("./asset/main.jpg");
    background-position: center;
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
}


.react-datepicker {
    font-size: 20px !important;
}

.react-datepicker-wrapper {
    /* z-index: -1 !important; */
}


.react-datepicker__month-container {
    /* background-color: brown !important; */
}

.react-datepicker__header {
    /* background-color: brown !important; */
}

.react-datepicker__current-month {
    background-color: brown !important;
    font-size: 20px !important;
}